@use '@angular/material' as mat;

@include mat.core();

$movies-dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$blue-palette,
    tertiary: mat.$magenta-palette
  ),
  typography: (
    brand-family: 'Roboto, "Helvetica Neue", sans-serif',
    plain-family: 'Roboto, "Helvetica Neue", sans-serif'
  ),
  density: (
    scale: 0
  )
));

@include mat.all-component-themes($movies-dark-theme);
@include mat.color-variants-backwards-compatibility($movies-dark-theme);
@include mat.typography-hierarchy($movies-dark-theme);

@font-face {
  font-family: 'FjallaOne';
  src: url('fonts/FjallaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Απαραίτητο για performance */
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background: #0f1117;
  color: #e5e7ef;
}
